.categories {
  display: flex;
  &__list {
    display: flex;
    gap: 30px;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 15px;
    width: 100px;
    height: 40px;
    cursor: pointer;
  }
  &__active {
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 15px;
    width: 100px;
    height: 40px;
    cursor: pointer;
  }
}
