.keyboard {
  margin-top: 50px;
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  &__price {
    display: flex;
    gap: 34px;
  }
  &__favorites {
    border: none;
    cursor: pointer;
  }
  &__buttons {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__add {
    cursor: pointer;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    border: none;
  }
  &__add:hover {
    background-color: rgb(119, 116, 116);
  }
  &__cancel {
    cursor: pointer;
  }
  &__cancel:hover {
    fill: red;
  }
}
